In [1]:
import requests
import json
import urllib
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/contacts_compiled_sample.csv') # import sample contact list

In [3]:
df_old = df # backup dataframe

In [4]:
# lowercase all names

df['Name'] = df['Name'].str.lower()

In [5]:
df.head()

,Name,Given Name,Additional Name,Family Name,driver
0,"10 north bridge road, singapore",10,North Bridge Road,#02-5123,6964
1,"10 woodlands terrace, singapore",NaN,NaN,NaN,depot
2,"105 hougang avenue 1, singapore",HG 105 AMK,527,Pancake,6964
3,"107 tampines street 11, singapore",Tpn,107,Boss,6964
4,"107a clementi street 12, singapore",Clementi 107a Rojak,NaN,Clementi St 12,856

In [9]:
# loop to get coordinates of addresses, and add to df
# try and except to skip addresses that are invalid, and input their coordinates as None

base_url = 'https://maps.googleapis.com/maps/api/geocode/json?'
AUTH_KEY = #### insert auth key
    
for x in range(len(df)):
    parameters = {'address': df.loc[x, 'Name'],
                  'key': AUTH_KEY}
    try:
        r = requests.get(f'{base_url}{urllib.parse.urlencode(parameters)}')
        data = json.loads(r.content)
        lat =  data['results'][0]['geometry']['location']['lat']
        lng = data['results'][0]['geometry']['location']['lng']
        df.loc[x, 'Lat'] = lat
        df.loc[x, 'Lng'] = lng
    except:
        df.loc[x, 'Lat'] = None
        df.loc[x, 'Lng'] = None

In [10]:
# saving df filled with coordinates into csv file for other codebook

df_lat_lng = pd.DataFrame()
df.to_csv('../data/df_lat_lng.csv', index = False)