In [1]:
import pandas as pd
import numpy as np
import requests
import folium
import polyline
import urllib
import matplotlib.pyplot as plt
import seaborn as sns
import time
import math
import json
import pickle
from branca.element import Figure
from sklearn.cluster import KMeans
from geopy import distance

In [2]:
# set number of vehicles and store for use across notebooks

available_vehicles = 4
%store available_vehicles

Stored 'available_vehicles' (int)

In [3]:
# set daily orders in ./data/order_for_today.csv and generate sample_daily_order list

order_for_today = pd.read_csv('../data/order_for_today.csv')
sample_daily_order = order_for_today['0'].tolist()

In [5]:
order_for_today

    Unnamed: 0                                          0
0            0          107 tampines street 11, singapore
1            1         107a clementi street 12, singapore
2            2                    116 aljunied, singapore
3            3              118a canberra cres, singapore
4            4                    119 aljunied, singapore
..         ...                                        ...
76          76             beauty world centre, singapore
77          77               bedok food centre, singapore
78          78                biomedical grove, singapore
79          79         chomp chomp food centre, singapore
80          80  east coast lagoon food village, singapore

[81 rows x 2 columns]

In [6]:
# import lat lng df

df_lat_lng = pd.read_csv('../data/df_lat_lng.csv')

In [7]:
# create new df for sample_daily_order 

daily_order_df = df_lat_lng[df_lat_lng['Name'].isin(sample_daily_order)]

In [8]:
# cluster

X = daily_order_df[['Lat', 'Lng']]

kmeans = KMeans(n_clusters = available_vehicles, random_state = 42)
kmeans.fit(X)
daily_order_df['cluster'] = kmeans.labels_

C:\Users\Darre\AppData\Local\Temp\ipykernel_29212\4051312100.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  daily_order_df['cluster'] = kmeans.labels_

In [9]:
# saving daily_order_df_clustered to csv

daily_order_df.to_csv('../data/daily_order_df_clustered.csv', index = False)